# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/terraform-provider-tunnet
/dist/
/bin/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Go
/vendor/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
