target/*
!target/release/
target/release/*
!target/release/tunnet-operator
!target/release/tunnet-kube-node
node_modules/
**/node_modules
.git/
.env
.env.*
!.env.example
*.log
dist/
.output/
.vinxi/
.nitro/
**/.turbo/
